* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo{
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-conteudo {
    width: 900px;
    height: fit-content;
    background-color: #F1F4F9;
    padding: 80px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-conteudo h1{
    margin-bottom: 70px;
    font-family: Segoe UI;
    font-size: 48px;
    font-weight: 350;
    text-align: left;
}

.container-conteudo h2{
    margin-bottom: 20px;
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.container-conteudo p{
    margin-bottom: 30px;
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 350;
    text-align: left;
}

.container-conteudo a{
    margin-top: 40px;
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-decoration: underline;
    color: #0089CD;
}