* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerHome{
    height: 130px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.imgLattine{
    height: 63.95939254760742px;
    width: 280px;
}

.BotaoLogin{
    background-color: #0079D1;
    height: 80px;
    width: 230px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
}

.primeiroConteudo{
    height: 800px;
    width: 1700px;
    border-radius: 30px;
    background-color: #0079D1;
    display: flex;  
    align-items: center;
    justify-content: center;


}

.FraseImpacto{
    color: white;
    height: 189px;
    width: 603px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 24px;

}
.textoBaixo{
    width: 511px;
    height: 96px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 88px;

}

.cadastre{
    color: #0079D1;
    background-color: white;
    height: 80px;
    width: 280px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
 

}
.imgHome{
    height: 659px;
    width: 827px;
}

.servicosOfertados{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 63px;
    color:#0079D1 ;
    margin-top: 50px;
}
button{
    
}