.error{
    color: white;
    background-color: #0079D1;
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fraseNaoEncontrada{
    color:white;
    margin-top: 60px;
    font-weight: 500;
    font-size: 60px;
    font-family: cursive;
}